<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form style="max-width:600px;" action="/cheese/edit" method="post" th:object="${cheese}">
    <div class="form-group">
        <label th:for="*{name}">Name</label>
        <input class="form-control" type="text" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="*{description}">Description</label>
        <input class="form-control" type="text" th:field="*{description}"  />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="category">Category</label>
        <select th:field="*{category}" th:value="*{category.name}">
            <option th:each="cat : ${categories}"
                    th:text="${cat.name}"
                    th:value="${cat.id}"></option> <!-- right here-->
        </select>
    </div>
    <div class="form-group">
        <label th:for="rating">Rating</label>
        <select th:field="*{rating}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <input type="hidden" name="id" th:value="*{id}" />
    <input type="submit" value="Edit Cheese"/>
</form>

</body>
</html>
